.col-left {
  width: 48%;
  float: left;
}

.col-right {
  width: 48%;
  float: right;
}

.clear {
  clear: both;
}

.col-geo-location {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}